label.error {
  	color: #ff0000;
  	font-size: 14px;
  	font-weight: normal !important;
    width: 100%;
}
.loader {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 9998;
  background: black none repeat scroll 0% 0%;
  opacity: 0.25;
  display: none;
}
.loader-inner {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
.hidden {
  display: none;
}
.form .select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
  padding: .46875rem .75rem;
  height: calc(2.25rem + 2px);
}
.form .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  height: auto;
  margin-top: -3px;
}
.form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 31px;
  right: 6px;
}
.form .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0;
}
@media (max-width: 767px) {
  #add-inquiry-form .form-group > label, #edit-inquiry-form .form-group > label {
    display: none;
  }
}